@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.root{
    
}

.header-container,
.body-container-1,
.body-container-2,
.body-container-3,
.footer {
    padding: 0 20%;
}

.header-container{

}

.header-container,
.footer,
.hero-box {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-container {
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: larger;
    font-weight: bolder;
}

.hero-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:500px;
}

.hero-box-left {
    max-width: 600px;
}

.image-placeholder {
    display: flex;
    background-color: darkgrey;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    min-height: 250px;
}

ul {
    display: flex;
    list-style: none;
    gap: 2em;
}

li {
    
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.hero-box p {
    font-size: 18px;
    color: #E5E7E8;
}

button,
.body-container-3{
    background-color: #3882F6;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards p {
    text-align: center;
}

.box {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    border-radius: 12px;
}

.body-container-2{
    background-color: #E5E7E8;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.attribution {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
}

.body-container-3 {
    display: flex;
    justify-content: space-between;
}

button {
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
}

.body-container-3 button {
    border: 1px solid white;
}